@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,600);

body{
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  background-color: rgb(193, 241, 203);
  font-family: 'Work Sans', sans-serif;
  padding: auto;
  margin: auto;
}
.title h1 {
  font-size: 50px;
  color: rgb(12, 160, 25);
  line-height: 0;
  padding: 40px 40px 15px 40px;
  margin: 30px 50px 0 50px;
}
.title h2 {
  font-size: 30px;
  color: rgb(255, 255, 255);
  padding: 0 40px;
  margin: 0 50px;
}
.title h3 {
  padding: 0 40px;
  margin: 0 50px;
  font-size: 20px;
  color:rgb(27, 70, 42);
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.gallery img {
  display: flex;
  width: 400px;
  height: 400px;
  background: rgb(27, 70, 42);
  border: 2px solid rgb(27, 70, 42);
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 5px;
}
.text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.text p {
  display: flex;
  width: 820px;
  height: 1000px;
  background: rgb(27, 70, 42);
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  color: rgb(179, 233, 224);
  font-size: 20px;
  border: 7px solid rgb(27, 70, 42);
}
footer {
  display: flex;
  width: 100%;
  height: 50px;
  text-align: center;	
  font-size: 17px;
  margin: 10px; 
  padding: 10px;
  color: rgb(9, 12, 12);
  font-weight: bold;
}
.ania {
  flex-grow: 2;
}
.repozytorium {
  flex-grow: 3;
}
